.leftNav{
	float:left;
}
.rightNav{
	float:right;
}
#ListingsContain{
	margin: 10px auto 0 auto;
	width: 100%;
}
.categoryOptions {
	min-width:110px;
	height:170px;
}
.sortOptions {
	width:110px;
}
@media only screen and (max-width: 1024px) {
    /* iPad/tablet landscape */
	.rightNav {
		margin-right: 8px;
	}
	.leftNav {
		margin-left: 8px;
	}
	.interior_subNav {
		margin:0 10px;
	}
 
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    /* iPad/tablet Portrait */
	.rightNav{
		margin-right: 8px;
	}
	.leftNav{
		margin-left: 8px;
	}
}
@media only screen and (max-width: 767px) {
    /* Mobile */
	#listingsContain {
		width: auto;
		padding: 5px 12px;
		margin: 0 auto;
	}
	.leftNav{
		margin-bottom: 10px;
	}

}