.leftNav{
	float:left;
}
.rightNav{
	float:right;
}

/*sort by dropdown*/
.sortByLabel {
	float: left;
	font-weight:bold;
	font-size: 14px;
	text-align: right;
	padding: 0 5px 0 0;
}
.containSortOptions {
	float: left;
	position: relative;
	white-space: nowrap;
}
.sortOption {
	padding: 0 16px 0 0;
	font-size: 14px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	cursor:pointer;
}
.posSortDropdownTriangle {
	position: absolute;
	top: 3px;
	right: 0;
}
.chooseCollection{
	float: left;
	margin-top: 5px;
	font-size: 14px;
}
.selectCollection{
	float: left;
	margin-left: 10px;
}
.chooseOption{
	padding: 5px 80px 5px 0px ;
	font-size: 12px;
}
#ListingsContain{
	margin: 10px auto 0 auto;
	width: 100%;
}
@media only screen and (max-width: 1024px) {
    /* iPad/tablet landscape */
	.rightNav {
		margin-right: 8px;
	}
	.leftNav {
		margin-left: 8px;
	}
	.interior_subNav {
		margin:0 10px;
	}
 
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    /* iPad/tablet Portrait */
	.rightNav{
		margin-right: 8px;
	}
	.leftNav{
		margin-left: 8px;
	}
}
@media only screen and (max-width: 767px) {
    /* Mobile */
	#listingsContain {
		width: auto;
		padding: 5px 12px;
		margin: 0 auto;
	}
	.leftNav{
		margin-bottom: 10px;
	}

}