#storeLocations {
	float: left;
	width: 100%;
}
#SL_Wrapper {
	border-top: 1px solid #ccc;
	max-width: 1000px;
}
#myStore {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.locationIcon {
	float:left;
	margin-top: 20px;
	margin-left: 10px;
	width: 19px;
	height: 29px;
}
.storeInfo {
	margin-top: 20px;
	float:left;
}
#storesNearby {
	margin-top: 20px;
}
.otherStore {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.locationTitle {
	font-size: 18px;
}
.storeName {
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
}
.storePhone {
	margin-top: 10px;
}
.storeHours {
	font-size: 13px;
	font-weight: bold;
	margin: 5px 0;
}
#searchStores {
	margin: 15px 0;
}
.storesNearSearchTitle {
	float: left;
	margin-right:10px;
	margin-top: 10px;
}
#searchStores .containSearch {
	width: 280px;
	float:left;
}
.changeLocationBtn {
	margin:10px 0;
	width:200px;
}

@media only screen and (max-width: 1024px) {
    /* iPad/tablet Portrait AND landscape */
	.locationTitle {
		margin-left: 15px;
	}
	.storeInfo {
		margin-left:15px;
		margin-right:15px;
	}
	#searchStores {
		margin: 15px 0 0 15px;
	}
}
@media only screen and (min-width: 960px) and (max-width: 1040px) {
    /* iPad/tablet Portrait */

}
@media only screen and (max-width: 767px) {
    /* Mobile */
	.locationTitle {
		margin-bottom:10px;
	}
	.storesNearSearchTitle {
		margin-bottom:5px;
	}
}



