.containOptions {
	float: left;
	position: relative;
	white-space: nowrap;
}
.activeOption {
	padding: 0 16px 0 0;
	font-size: 14px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	cursor:pointer;
}
.posDropdownTriangle {
	position: absolute;
	top: 3px;
	right: 0;
}