#EntryContain {
    width: auto;
    margin: 15px auto;
}
.title {
	text-align: center;
	font-size: 14px;
}
.sl_search_text {
	width: 200px;
	height: 30px;
	padding-left: 5px;
	border: 1px solid #ccc;
	background: white;
	color: #000000;
	font-size: 14px;
	margin: 0 auto;
}
#EntryContain .searchContain {
	margin:10px auto;
}

/*no content*/
#NoContent{
    width:100%;
    margin:30px auto;
}
#NoContent h2 {
    margin:20px 0 10px 0;
    font-weight:normal;
}
.noContent .anotherLocation {
	font-size:16px;
}
.nearbyLabel_noContent {
    margin-top:15px;
    display:block;
}
@media only screen and (max-width: 1024px) {
    /* Tablet */
}
@media only screen and (max-width: 767px) {
    /* Mobile */
    #entryContain {
		margin:15px;
	}
}
