#EntryContain {
    width: auto;
    margin: 15px auto;
}
.title {
	text-align: center;
	font-size: 14px;
}
.sl_search_text {
	width: 200px;
	height: 30px;
	padding-left: 5px;
	border: 1px solid #ccc;
	background: white;
	color: #000000;
	font-size: 14px;
	margin: 0 auto;
}
#EntryContain .searchContain {
	margin:10px auto;
}

/*no content*/
#NoContent{
    width:100%;
    margin:30px auto;
}
#NoContent h2 {
    margin:20px 0 10px 0;
    font-weight:normal;
    font-family: 'Gotham SSm 5r','Gotham 5r',Helvetica,Arial,sans-serif;
}
.noContent .anotherLocation {
	font-size:16px;
}
.nearbyLabel_noContent {
    margin-top:15px;
    margin-bottom:15px;
    display:block;
}

.noContentSearch {
	float:left;
    width:400px;
    border:1px solid #ccc;
}
.noContentSearch input {
	height:20px;
    font-size:14px;
    border:none;
    padding:5px;
    line-height:20px;
    position:absolute;
}
.noContentSearch .changeSubmit {
	background: url('../Images/kohls_search.png') no-repeat right;
    background-color:white;
    background-size:20px 20px;
    height: 30px;
    width: 20px;
    position:relative;
    left:375px;
    cursor: pointer;
 }
.noContentSearch input[type="text"], input[type="search"] {
    font-size:14px;
    width: 350px;
}
.noContent_otherStoresUnit {
    padding: 20px 15px;
    border-top: 1px solid #ccc;
}
.noContentButton {
	width:200px;
	margin:20px 0;
}


@media only screen and (max-width: 1024px) {
    /* Tablet */
   .noContentTopContain {
	   margin:15px;
   }
   .nearbyLabel_noContent {
	   margin:15px;
   }
}
@media only screen and (max-width: 767px) {
    /* Mobile */
    #entryContain {
		margin:15px;
	}
	.noContentButtons {float:none;
    }
    .noContentStoreInfo {float:none;
    }
    .noContentSearch {width:270px;
    }
    .noContentSearch .changeSubmit {
        left: 245px;
    }
    .noContentSearch input[type="text"], input[type="search"] {
         width: 230px;
    }
}
