.leftColumn_IDP {
	padding: 0 40px 0 0;
	vertical-align: top;
	float:left;
}
.itemImage {
	width: 325px;
}
.viewLarger {
	text-align: center;
	margin-top: 5px;
}

/*social share*/
.containSocialShareIDP {
	text-align: center;
	margin-top: 25px;
}
.skinShareIcon {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-image:url(../Images/_Template_Shopluxe_Sprite.png);
	background-repeat: no-repeat;
	text-indent: -999px;
	overflow: hidden;
}
.skinShareIcon:hover {
	opacity:0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}
.containSocialShareIDP .posShareIcon+.posShareIcon {
	margin-left: 15px;
}
.skinFacebookIcon {
	background-position: -250px -350px;
}
.skinTwitterIcon {
	background-position: -300px -350px;
}
.skinPintrestIcon {
	background-position: -350px -350px;
}
.skinGooglePlusIcon {
	background-position: -400px -350px;
}
.skinEmailIcon {
	background-position: -200px -350px;
}
.skinPrintIcon {
	background-position: -200px -400px;
}
.rightColumn_IDP {
	padding: 0;
	vertical-align: top;
	height: 500px;
	width:453px;
	float:right
}
.scrollable {
	height: 500px;
	margin: 0;
	overflow: auto;
}
.itemTitle {
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 10px;
}
.theDealMessage {
	font-size: 32px;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
}
.priceQualifier {
	display:inline-block;
}
.additionalDealInformation {margin:3px 0;
}
.theOriginalDeal {
	font-size: 12px;
	margin-top: 6px;
}
.ratingsContain {
	margin:15px 0;
	display:block;
}
.idpBtnContain {
	margin-bottom: 20px;
	margin-top: 20px;
	position: static;
	bottom: 10px;
	left: 15px;
}
.theValidDates {
	margin-top: 15px;
}
.idpPrimary, .idpSecondary {
	display:block;
	margin-bottom:10px;
	width:200px;
}
.description {
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 15px;
}
.finePrint {
	font-size: 10px;
	line-height: 12px;
	font-style: italic;
	color: #404040;
	margin-bottom:15px;
}

@media only screen and (max-width: 1024px) {
    /* iPad/tablet Portrait AND Landscape */
	
}

@media only screen and (min-width: 960px) and (max-width: 1024px) {
    /* iPad/tablet Landscape */

}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    /* iPad/tablet Portrait */
	.rightColumn_IDP {
		width:304px;
	}
}
@media only screen and (max-width: 767px) {
    /* mobile Landscape AND Portrait */	
	.leftColumn_IDP, .rightColumn_IDP {
		padding: 0;
		width:auto;
		height:auto;
		float:none;
	}
	.scrollable {
		height: auto;
	}
	.itemImage {
		max-width: 325px;
		width: 100%;
	}
	.containSocialShareIDP {
		margin:15px 0;
		text-align: left;
	}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    /* mobile Portrait */

}