/************** box styles ****************/
.smallBlock, 
.tallBlock, 
.wideBlock, 
.largeBlock{

    position: relative;
    background-color: #FFF;
    overflow:hidden;
    cursor:pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #CCC;
    transition: border-color .5s ease, box-shadow .5s ease;
}
.smallBlock:hover, 
.tallBlock:hover, 
.wideBlock:hover, 
.largeBlock:hover {
    border-color: #bbb;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    transition: border-color .1s ease, box-shadow .1s ease;
}

.blocksContain {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display: flex;
	justify-content: space-between;
}
.squarePadding {
	padding-bottom: 48.9%; /*This should be the same as the height of the large/tall blocks*/
}
.shortTemplate .squarePadding {
	padding-bottom: 24.45%; /*On templates with "shortTemplate" class this should be the same as the height small/wide blocks*/
}

.largeBlock{
    width: 48.9%;
    height: 100%;
	
}
.smallBlock{
    width:23.8%;
    height: 50%;
}
.ss_holder{
    float: left;
	width:23.8%;
    height:100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.ss_holder .smallBlock{
    width:100%;
	height: 48.4%;
    float: none;
    display:block;
}
.tallBlock{
    width: 23.8%;
    height: 100%;

}
.wideBlock{
    width: 48.9%;
	height: 50%;	
}

.shortTemplate .smallBlock{
    width:23.8%;
    height: 100%;
}

.shortTemplate .wideBlock{
    width: 48.9%;
	height: 100%;	
}

/************** templates ****************/
.landingTemplate_LSSI, .landingTemplate_SWS{
    width: 100%;
    padding: 0;
	position:relative;
	margin-bottom:1.8%;
}

/************** Media Queries For Responsive Behavior ****************/

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 767px) {
	.blocksContain {
		display:block;
		position:relative;
		margin-top:15px;
	}
	.ss_holder {
		display:block;
		position:relative;
	}
	.ss_holder .smallBlock, .smallBlock, .tallBlock, .wideBlock, .largeBlock, .shortTemplate .smallBlock, .shortTemplate .wideBlock {
        float: none;
        height: 160px;
        width: auto;
		margin-bottom:7px;
    }
    .ss_holder {
        float: none;
        width: auto;
    }

	/************** templates ****************/
	.landingTemplate_LSSI, .landingTemplate_SWS{
		width: auto;
		padding: 0 14px;
	}

}


@media only screen and (min-width: 481px) and (max-width: 767px) {
    /* Mobile Landscape */
}

@media only screen and (max-width: 480px) {
    /* Mobile Portrait */
}