#PageViewContain {
	overflow: hidden;
	width: 100%;
	padding: 10px 0;
	border:1px solid #ccc;
	background:#eee;
	position: relative;
}
.bbpwrapper {
	margin: 0 auto;
	outline: 1px solid #ccc;
	overflow: hidden; 
	width: 938px; /*for template only*/
	height: 1200px; /*for template only*/
	background:#666; /*for template only*/
}
.fullscreen .bbpwrapper {
	width: 90%;
}
.adSelector {
	margin-top:20px;
}

.pageOptions {
	min-width:110px;
	height:170px;
	left:50%;
	-ms-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.adSelectOptions {
	min-width:150px;
	left:-65px;
}

/*BBP sub navigation*/
.bbpNavContain {
  	display: -webkit-flex;
  	display: flex;
	margin-bottom:10px;
	margin-top:25px;
}
.validDatesOfCircular {
	-webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
	flex: 1;
}
.pageControlContain {
	-webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
	flex: 1;
	text-align:right;
}

@media only screen and (max-width: 1024px) {
    /* iPad/tablet Portrait AND Landscape */
	.adSelector {
		margin-left:15px;
	}
	.bbpNavContain {
		margin-left:15px;
		margin-right:15px;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1024px) {
    /* iPad/tablet Landscape */

}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    /* iPad/tablet Portrait */

}
@media only screen and (max-width: 767px) {
    /* mobile Landscape AND Portrait */
    .bbpwrapper {
    	outline: none;
		width: 150px; /*for template without data only*/
		height: auto; /*for template without data only*/
		background:none;
		margin: 0 auto;
        overflow: visible !important; /*for template without data only*/
    }
	.promotionPageSelected {
		border: 1px solid #ccc;
		margin: 0 9px 0 9px;
	}
    .theToggle {
        height: 30px;
        background-color: $primary-color;
        margin: 5px 0 5px 0;
        color: #fff;
    }
    .theToggle .zoomIcon {
        float: right;
        margin: 10px 15px 0 0;
        font-size:11px;
    }
    .mobileBBPSliderXofY {
        float: left;
        font-size: 12px;
        font-weight: bold;
        padding: 7px 0 0 10px;
    }

    .bbpContainer {
        width: 300px;
        margin: 22px auto;
        overflow: hidden;
    }

}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    /* mobile Portrait */

}