#SL_Wrapper {
	border-top: 1px solid #ccc;
	max-width: 1000px;
}
#StoresNearby {
	margin-top: 20px;
}
#SearchStores {
	margin: 15px 0;
}
.locationTitle {
	font-size: 18px;
	font-weight: normal;
}
.storesNearSearchTitle {
	margin-right:10px;
	display: inline-block;
}
#SearchStores .containSearch {
	width: 280px;
	display:inline-block;
}
@media only screen and (max-width: 1024px) {
    /* iPad/tablet Portrait AND landscape */
}
@media only screen and (min-width: 960px) and (max-width: 1040px) {
    /* iPad/tablet Portrait */

}
@media only screen and (max-width: 767px) {
    /* Mobile */
}



