.dropdownLabel {
	float: left;
	font-weight: bold;
	font-size: 14px;
	text-align: right;
	padding: 0 5px 0 0;
}
.optionsContain {
	float: left;
	position: relative;
	white-space: nowrap;
}
.activeOption {
	padding: 0 16px 0 0;
	font-size: 14px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	cursor:pointer;
}
.posDropdownTriangle {
	position: absolute;
	top: 4px;
	right: 0;
}
.dropdownOptions {
	background:#eee;
	border:1px solid $border-color;
	z-index:100;
	overflow-y:scroll;
	position:absolute;
	top:22px;
}
.sortOption {
	padding:10px;
	white-space:normal;
}
.sortOption:hover {
	background:#fff;
}