/* default styles for search input. When style changes (width, position, etc.) are needed for a specific view, scope them inside their respective CSS files */
.searchContain, .sendContain {
	border: 1px solid $border-color;
	padding: 0;
	position: relative;
	height: 32px;
	padding-right: 32px;
	width: 300px;
}
.searchContain input, .sendContain input {
	border: none;
	width: 100%;
	padding: 0 10px;
	margin: 0;
	color: #000000;
	font-size: 14px;
	line-height: 30px;
}

/*styling for search form buttons */
.searchContain button {
	position: absolute;
	right: 0px;
	width: 30px;
	height: 30px;
	padding: 0;
	top: 0;
	background: $primary-color;
	border: 0px;
}
.searchContain button:before {
	display: block;
	position: absolute;
	top: 16px;
	left: 13px;
	background: none repeat scroll 0% 0% #FFF;
	width: 8px;
	height: 2px;
	-webkit-transform: rotate(130deg);
	-moz-transform: rotate(130deg);
	-ms-transform: rotate(130deg);
	-o-transform: rotate(130deg);
	-ms-transform-origin: left center;
	-moz-transform-origin: left center;
	-webkit-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
	content: "";
}
.searchContain button:after {
	content: "";
	display: block;
	position: absolute;
	top: 6px;
	left: 10px;
	border: 2px solid #FFF;
	width: 14px;
	height: 14px;
	border-radius: 50%;
}

/*styling for email and other 'send' input form buttons */
.sendContain button {
	width: 30px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	border: 0;
	text-indent: 999px;
	overflow: hidden;
	background: none;
}
.sendContain button:before {
	content: "";
	height: 1px;
	width: 18px;
	background: black;
	position: absolute;
	top: 50%;
	right: 8px;
}
.sendContain button:after {
	content: "";
	height: 10px;
	width: 10px;
	border: 1px solid black;
	border-left: none;
	border-bottom: 0;
	position: absolute;
	top: 50%;
	right: 9px;
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: -5px;
}
