$primary-color: #3258b3;

*:focus {
    outline: 0; /*remove blue outline of active elements in chrome*/
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #fff;
	line-height: normal;
	margin: 0;
	padding: 0;
}
.cb {
	clear:both;
}
.pointer {
    cursor: pointer;
}
.bold {
	font-weight: bold;
}
.stdLink {
	color: $primary-color;
	text-decoration:underline;
	cursor:pointer;
}
.stdLink:hover {
    text-decoration:none;
}
.shoplocal_container {
	max-width:1000px;
    width: 90%;
	margin:0 auto;
}
@media only screen and (min-width: 1025px) {
    /* desktop */
    .excludeFromDesktop {
        display: none !important;
    }
    .includeInTablet, .includeInTabletLandscape, .includeInTabletPortrait, .includeInMobile, .includeInMobilePortrait, .includeInMobileLandscape {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* iPad/tablet Portrait AND Landscape */
    .excludeFromTablet {
        display: none !important;
    }
    .includeInDesktop, .includeInMobile, .includeInMobilePortrait, .includeInMobileLandscape {
        display: none !important;
    }
}
@media only screen and (min-width: 960px) and (max-width: 1024px) {
    /* iPad/tablet Landscape */
    .excludeFromTabletLandscape {
        display: none !important;
    }
    .includeInTabletPortrait {
        display: none !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    /* iPad/tablet Portrait */
    .excludeFromTabletPortrait {
        display: none !important;
    }
    .includeInTabletLandscape {
        display: none !important;
    }
}
@media only screen and (max-width: 767px) {
    /* mobile Landscape AND Portrait */
    .excludeFromMobile {
        display: none !important;
    }
    .includeInDesktop, .includeInTablet, .includeInTabletPortrait, .includeInTabletLandscape {
        display: none !important;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    /* mobile Landscape */
    .excludeFromMobileLandscape {
        display: none !important;
    }
    .includeInMobilePortrait {
        display: none !important;
    }
}
@media only screen and (max-width: 479px) {
    /* mobile Portrait */
    .excludeFromMobilePortrait {
        display: none !important;
    }
    .includeInMobileLandscape {
        display: none !important;
    }
}

