#breadCrumb{

	width: 1000px;
	margin: 0 auto;
	height: 30px;
	padding: 0px;

}
.breadcrumbImage{

	margin-top: 2px;
	border-right: 5px solid #426fc1;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	float: left;
}
.breadcrumbText{

	margin-left: 10px;
	margin-top: 5px;
}

#storeLocations{
	float: left;
	width: 100%;

}

#SL_Wrapper{

	border-top: 1px solid #ccc;
	max-width: 1000px;

}

#myStore{

	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;

}
.locationIcon{

	float:left;
	margin-top: 20px;
	margin-left: 10px;
	width: 19px;
	height: 29px;

}
.storeInfo{

	margin-left: 30px;
	margin-top: 20px;
	float:left;
	

}
#storesNearby{

	margin-top: 20px;


}
.otherStore{

	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;

}
.locationTittle{

	font-size: 18px;
	margin-left: 30px;

}
.storeName{

	font-size: 15px;
	font-weight: bold;

	
}
.storePhone{

	margin-top: 10px;

}

.storeHours{

	font-size: 13px;
	font-weight: bold;
	margin: 10px 0;
	padding-bottom: 10px;

}
#searchStores{
	margin-top: 10px;
	margin-bottom:100px;
}
	
.storesNear{

	float: left;
	margin-left: 30px;
	margin-top: 20px;

}
.searchStoresForm{

	float: left;

}
#sl_search_form_map{

	margin-top: 10px;
	margin-left:20px;

}
.sl_search_text_map
{

	width: 200px;
	height: 30px;
	padding-left: 5px;
	border: 1px solid #ccc;
	background: white;
	color: #000000;
	font-size: 14px;

}

#sl_search_form_map .glass-search-map{

	position: relative;
	height: 30px;
	width: 30px;
	float: right;
	background: url("../images/kohls_search.png");
	background-color: white;
	right: 35px;
	margin-top: 2px;
	border: none;

}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    /* iPad/tablet Portrait AND landscape */

}
@media only screen and (min-width: 960px) and (max-width: 1040px) {
    /* iPad/tablet Portrait */

}
@media only screen and  (min-width: 320px) and (max-width: 767px) {
    /* Mobile */

 
}



