
.printstoreName{

	font-size: 15px;
	font-weight: bold;
	display: inline;

	
}
.printstorePhone{

	margin-top: 10px;

}
.printstoreAddress{

	display: inline;
}
.printstoreInfo{

	text-align: center;

}
#printTemplate{

	width: 600px;
	height: 300px;
	margin: 20px auto;
	border: 1px solid #ccc;
}
.headline{


	text-align: center;
	border-bottom: 1px solid #ccc;
	padding: 20px;
}
.leftSide{

	float:left;
	width: 49%;


}
.rightSide{

	float: left;
	width: 49%;
}

.itemImage{

	width:200px;
	height: 200px;
	margin: 30px auto;
}
.containDeal{

	font-size: 30px;
	font-weight: bold;
	margin-top: 20px;

}
.originalDeal{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	
}
.itemTittle{

	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
}
.validDates{

}
.hoursRemaining{

	font-size: 18px;
	font-weight: bold;
	color: #FC9A2D;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.additionalInfo{

	padding-top: 10px;
	font-size: 14px;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    /* iPad/tablet Portrait AND landscape */
 
}
@media only screen and (min-width: 960px) and (max-width: 1040px) {
    /* iPad/tablet Portrait */
   
}
@media only screen and  (min-width: 320px) and (max-width: 767px) {
    /* Mobile */
  
 .leftSide{

	float:left;
	width: 100%;


}
.rightSide{

	float: left;
	width: 100%;
}
#printTemplate{

	height: 550px;
	width: 100%;
	margin: 20px auto;
	border: 1px solid #ccc;
}
}